<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Post message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
        
        <ion-item>
          <ion-label position="stacked">Image Url:</ion-label>
         <ion-input [(ngModel)]="message.imageUrl" name="text" ></ion-input>
        


        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your message </ion-label>
         <ion-input [(ngModel)]="message.text" name="text"></ion-input>
        

        </ion-item>
        <ion-button [disabled] = "!message.text && !message.imageUrl" (click)="onPost()" class = "main-button" expand="block" color="dark">Submit</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
