<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


 <ion-card *ngFor="let message of displayMessage">



  <ion-card-content *ngIf="message.imageUrl">
   <ion-img src="{{message.imageUrl}}"></ion-img>I

</ion-card-content>
   <ion-card-header>
    <ion-card-subtitle>{{message.text}}</ion-card-subtitle>
     <ion-card-title>{{message.from}}</ion-card-title>
     <span>{{message.createdOn | date:'MM/dd/yyyy hh:mm'}}</span>
     
    </ion-card-header>
   
 </ion-card>
</ion-content>
